// For loop
// .items.item-1, .items.item-2, etc
.items {
    position: absolute;
    right: 0;
    @for $i from 1 through 3 {
        &.item-#{$i} {
            top: $i * 30px;
        }
    }
}

// While loop
$i : 1;

.item {
    position: absolute;
    right: 0;
    @while $i < 4 {
        &.item-#{$i} {
            top: $i * 30px;
        }
        $i : $i + 1;
    }
}